#{extends 'main.html' /}
#{set title:'Item Details' /}

#{set 'moreStyles'}
    <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.min.css'}" />
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
#{/set}

<div class="container row">
    <div class="col-md-6">
        <a>
            <img src="public/images/${item.picture}" alt="2" />
            <h2>${item.name}</h2>
        </a>
    </div>
    <div class="col-md-6">
        <table class="table table-hover">
            <tr>
                <td>Name</td>
                <td>${item.name}</td>
            </tr>
            <tr>
                <td>Tags</td>
                <td>${item.tag}</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>$ ${item.price}</td>
            </tr>
            <tr>
                <td>Contact Me</td>
                <td>${item.email}</td>
            </tr>
            <tr>
                <td>Detail</td>
                <td>${item.details}</td>
            </tr>
        </table>
        <a href="@{Application.detail(item.id, !item.bid)}" id="bid">
            <h1>BID ME</h1>
        </a>
    </div>
</div>

<script>
	setTimeout(function() {
		$(document).ready(function() {
			$("#bid").click(function() {
				alert("Con! Bitch!");
			});
		});
	}, 1);
</script>