#{extends 'main.html' /}
#{set title:'You sell Me buy' /}


#{set 'moreStyles'}
    <link rel="stylesheet" href="@{'/public/stylesheets/normalize.css'}" />
#{/set}

<section class="header">
    <h1>eBay Selling Community</h1>
    <h3>Designed by {eBay Community}</h3>
    <a href="@{Application.mybid()}">
		<p class="clickJump">MY Interests</p>
	</a>
</section>	<!-- end header -->


<section class="container">
    <ul>
    	#{list items:items, as:'item'}
    		<li class="item blue">
	            <a href="@{Application.detail(item.id)}">
	                <img src="public/images/${item.picture}" alt="1" />
	                <p>${item.name}</p>
	            </a>
	        </li>
		#{/list}
       
    </ul>
</section>	<!-- end container -->

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/html5shiv.js'}"></script>
    <script src="@{'/public/javascripts/main.js'}"></script>
    <script src="@{'/public/javascripts/masonry.min.js'}"></script>
    <script src="@{'/public/javascripts/jquery.imagesloaded.min.js'}"></script>
#{/set}
