#{extends 'main.html' /} #{set title:'Photo Upload' /} #{set
'moreStyles'}
<link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.min.css'}" />
#{/set} #{set 'moreScripts'}
<script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
#{/set}

<section class="header">
	<h1>Photo Upload</h1>
	<h3>Designed by Harper Koo</h3>
	<a href="@{Application.sellList()}">
		<p class="clickJump">MY Sold List</p>
	</a>
</section>
<!-- end header -->

<section class="container">

	<div class="container row">
		<div style="left-padding:20%">
			<h2>Please upload the item photo you want to sell</h2>
			<div>
				<form enctype="multipart/form-data"
					action="@{Application.uploading()}" method="POST">
					<input type="file" id="attachment" name="attachment" /> <input
						type="submit"
						class="col-md-2 col-md-offset-5 btn btn-default value=" Submit"/>
				</form>
			</div>
		</div>
	</div>

</section>
